<!-- include search/browse tool bit -->
<div ng-include="'/app/service/_searchToolbit.html'"></div>

<div class="content clients" ng-controller="Client as vm">
	<section ng-init="vm.clientService()">
		<div ng-show="vm.display_error" class="message error">Error: Please try again.  
			<br/>
			Message: {{vm.errorInfo.message}} <br/>
			success: {{vm.errorInfo.success}} <br/>
			clientTxnId: {{vm.errorInfo.clientTxnId}} <br/>
		</div>
		<h1>{{vm.bothCLicked.operation.eai_application_name}} - {{vm.bothCLicked.operation.operation_name}}</h1>
		{{vm.bothCLicked.operation.service.eai_description}}
		<h5>Service Description</h3>
		<p>
			{{vm.bothCLicked.operation.description}}
		</p>
		<p>
			Helpful Links:<br/>
			<ul style="list-style:none">
				<li ng-repeat="data in vm.bothCLicked.operation.service.url.split(',')">
					<a href='{{data}}'>{{data}}</a>
				</li>
			</ul>
		</p>
		<section>
			<div>
			Use this service with:
			</div>
			<div>
				<select ng-init="vm.servicesPersonCanAccess()" data-ng-model="vm.servicePicked" ng-options="option as option.display_name for option in vm.accessableServices | orderBy:'display_name'">
				</select>
				
				<a href="" class="button" ng-click="vm.checkEngagement()">GO</a>
			</div>
		</section>

	</section>
</div>