<!-- include service tab tool bit -->
<div ng-include="'/app/service/_tabToolbit.html'"></div>

<div class="content services" ng-contoller="Service as vm">

	<section class="consumed_services" >
		<h5 class="text_purple">Services</h5>
		<br>
			<div ng-init="showServices=false">
				<label>
          			<a href="" ng-show="!showServices" ng-click="showServices=!showServices">+</a>
         			 <a href="" ng-show="showServices" ng-click="showServices=!showServices">-</a>
        			 <a href="" ng-click="showServices=!showServices">5143 Busi Busi</a>
        		</label>
			
		<ul style="border: 0px solid" ng-show="showServices">
			<li>
				<ul>
					<table style="width:100%">
						<tr style="width:100%; border: 1px solid" ng-repeat="consumed in vm.consumedService()">
							<td style="width:50%; text-align:center;" >
								{{consumed.serviceNameID}}
							</td>
							
							<td style="width:50%; text-align:center">
								<a href="{{consumed.linkSLA}}">View SLA</a>
							</td>
						</tr>
					</table>
				</ul>
			</li>

			
		<!--	<li>
				<div class="service">+ 1944 - PSALMSSRS</div>
				<ul>
					<li class="service_sla">
						<a href="#/sla/view/4321">AddressService (4321) - validateAddress</a>
					</li>
					<li class="service_sla">
						<a href="#/sla/view/6514">Platinum Exchange (6514) - pxOperation</a>
					</li>
				</ul>
			</li> -->
		</ul>
		</div>
	</section>
	<br class="clear" />
</div>