<!-- include service tab tool bit -->
<div ng-include="'/app/service/_tabToolbit.html'"></div>

<div class="content services" ng-controller="Service as vm" ng-init="vm.getPendingSLA()">
	<div ng-show="vm.display_error" class="message error">Error: Please try again.  
		<br/>
		Message: {{vm.errorInfo.message}} <br/>
		success: {{vm.errorInfo.success}} <br/>
		clientTxnId: {{vm.errorInfo.clientTxnId}} <br/>
	</div>

	<h5>Pending Requests</h5>

	<section class="requests" ng-repeat="data in vm.getPendingSLAData()">

		<div ng-init="showServices=false">
			<label>
      			<a href="" ng-show="!showServices" ng-click="showServices=!showServices">+</a>
     			 <a href="" ng-show="showServices" ng-click="showServices=!showServices">-</a>
    			 <a href="" ng-click="showServices=!showServices">{{data.client}}</a>
    		</label>

    		<ul style="border: 0px solid" ng-show="showServices">
				<li>
					<ul>
						<table style="width:100%">
							<tr style="width:100%; border: 1px solid; padding:3px" ng-repeat="value in data.client_engagement">
								<td style="width:14%; text-align:left; padding: 3px" >
									{{value.workflow_id}}
								</td>
								<td style="width:44%">
									{{value.service_display_name}}
								</td>
								<td style="width:25%; text-align:center">
									<a href="#/sla/view/{{value.workflow_id}}" ng-click="vm.setClickedSLA(value)">View Engagement/SLA</a>
								</td>
								<td>
									<a href="#/workflow/{{value.workflow_id}}">Workflow</a>
								</td>
							</tr>
						</table>
					</ul>
				</li>
			</ul>
    	</div>
	</section>
	<br class="clear" />
	<section class="messages">
		<h5>Messages</h5>
		Coming Soon!
		<!-- <ul>
			<li>
				<ul>
					<li class="message">ServiceRegistry will be down for maintenance on Saturday 7/9/16 from 10-11pm</li>
					<li class="details"><a href="#/mesasges/12345">details</a></li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="message">OSSScanning will be updating its service offering on 7/25/16</li>
					<li class="details"><a href="#/mesasges/1111111">details</a></li>
				</ul>
			</li>
		</ul> -->
		<br class="clear" />
	</section>
</div>