<!-- include service tab tool bit -->
<div ng-include="'/app/service/_tabToolbit.html'"></div>

<div ng-controller="Service as vm" class="content services">
	<div ng-show="vm.display_error" class="message error">Error: Please try again.  
		<br/>
		Message: {{vm.errorInfo.message}} <br/>
		success: {{vm.errorInfo.success}} <br/>
		clientTxnId: {{vm.errorInfo.clientTxnId}} <br/>
	</div>
	<a href="#/service/register" ng-click="vm.getServices(false)" >Register a new service</a>
	<section class="published_services">
		<h5 class="text_purple">Services</h5>
		<div data-ng-show="vm.showError" class="message error">There was an error retrieving the published services. </div>
		<ul>
			<li>
				<ul style="border-bottom: solid 1px" ng-repeat="data in vm.getPublishedData() ">
					<li class="id">{{data.eai_number}}</li>
					<li class="title">{{data.eai_application_name}} ({{data.interface}})</li>
					<li class="edit"><a href="" ng-click="vm.editServiceDetails(data.eai_number)">edit</a></li>
					<li class="view_client"><a href="#/service/viewClients/{{data.eai_number}}" ng-click="vm.getClientList(data.eai_number, data.eai_application_name)">view Clients</a></li>
				</ul>
			</li>
		</ul>
		<br class="clear" />
		<br>
	</section>
</div>	