<!-- include service tab tool bit -->
<div ng-include="'/app/service/_tabToolbit.html'"></div>

<div ng-controller="Service as vm" class="content services">
	<a href="#/service/register" ng-click="vm.getServices(false)" >Register a new service</a>
	<section class="published_services">
		<h5 class="text_purple">Services</h5>
		<ul>
			<li>
				<ul style="border-bottom: solid 1px" ng-repeat="data in vm.publishedData">
					<li class="id">{{data.eai_number}}</li>
					<li class="title">{{data.title}}</li>
					<li class="edit"><a href="{{data.edit}}">edit</a></li>
					<li class="view_client"><a href="{{data.view_client}}">view Clients</a></li>
				</ul>
			</li>
		</ul>
		<br class="clear" />
		<br>
	</section>
</div>	