<!-- include service tab tool bit -->
<div ng-include="'/app/service/_tabToolbit.html'"></div>

<div class="content services" ng-controller="Service as vm">

	<section>
		<section class="edit_service" ng-init="data = vm.getServiceData()	">
			<div ng-show="vm.display_error" class="message error">Error: Please try again.  
				<br/>
				Message: {{vm.errorInfo.message}} <br/>
				success: {{vm.errorInfo.success}} <br/>
				clientTxnId: {{vm.errorInfo.clientTxnId}} <br/>

			</div>
			<h4 class="text_purple">
				{{data.eai_application_name}} - {{data.eai_number}}
			</h4>
			<ul>
				<li>
					<label>EAI Profile Name</label>
					<input type="text" data-ng-model="data.eai_profile_name" readonly>
					</input>
				</li>
				<li>
					<label>Category</label>
					<input type="text" data-ng-model="data.eai_category" readonly>
					</input>
				</li>
				<li>
					<label>Friendly Name</label>
					<input type="text" data-ng-model="data.eai_friendly_name" />
				</li>
				<li>
					<label>Interface</label>
					<input type="text" data-ng-model="data.interface" readonly/>
				</li>
				<li  >  <!-- ng-show="data.interface === 'SOAP'" -->
					&nbsp;&nbsp;&nbsp;<a href="/#/wsdl/upload/{{data.eai_number}}">Manage WSDL(s)</a>
				</li>
				<li>
					<label>State</label>
					<select data-ng-model="data.state">
						<option ng-selected="data.state ==='active'" value="active">Active</option>
						<option ng-selected="data.state ==='inactive'" value="inactive">Inactive</option>
						<option ng-selected="data.state ==='deprecated'" value="deprecated">Deprecated</option>
					</select>
				</li>
			</ul>
			<ul>
				<li>
					<label>Description</label>
					<textarea rows="5" cols="65" data-ng-model="data.eai_description"></textarea>
				</li>
				<li>
					<label>URL's</label>
					<textarea rows="5" cols="65" data-ng-model="data.url">
					</textarea>
				</li>
			</ul>
		</section>
				<br class="clear" />
		<br class="clear" />
		<section class="wsdl_upload">
			<div>
				
			</div>
		</section>

	</section>
</div>