<!-- include service tab tool bit -->
<div ng-include="'/app/service/_tabToolbit.html'"></div>

<div ng-controller="Service as vm" class="content services">

	<section>
		<h2>
			Register a New Service
		</h2>
		<section>
			<h4>Select a service from the list below to begin the registration process</h4>
			<div ng-show="vm.display_error" class="message error">Error: Please try again.  
				<br/>
				Message: {{vm.errorInfo.message}} <br/>
				success: {{vm.errorInfo.success}} <br/>
				clientTxnId: {{vm.errorInfo.clientTxnId}} <br/>
			</div>
			<form ng-submit="vm.getServiceDetails()">
				<select ng-model="vm.getDataById" ng-options="option as option.display_name for option in vm.getUnpublishedData() | orderBy:'eai_application_name'">
					
				</select>
				<input type="submit" class="button" value="Go">
			</form>
		</section>
		<div data-ng-show="vm.showError" class="message error">There was an error retrieving the unpublished service data. </div>
		<section data-ng-show="vm.displayForm"> 
				<h4>Please complete the form below to process the service registration</h4>
				<form ng-submit="vm.saveServiceDetails()">
					<table>
						<tr>
							<td class="registerTable">
							<label>EAI Application Name</label>
							</td>
							<td>
								<input style="width:200px" type="text" data-ng-model="vm.list.data.eai_application_name" readonly></input>
							</td>
						</tr>
						<tr>
							<td class="registerTable">
							<label>Friendly Name</label>
							</td>
							<td>
								<input style="width:200px" type="text" data-ng-model="vm.list.data.eai_friendly_name"></input>
							</td>
						</tr>
						<tr>
							<td class="registerTable">
								<label>Category</label>
							</td>
							<td>
								<input style="width:200px" type="text" data-ng-model="vm.list.data.eai_category" readonly></input>
							</td>
						</tr>
						<tr> <!-- by default same as eai application name changable -->
							<td class="registerTable">
							<label>EAI Profile Name *</label>
							</td>
							<td>
								<input type="text" data-ng-model="vm.list.data.eai_profile_name"/>
							</td>
						</tr>
						<tr>
							<td class="registerTable">
								<label>Interface *</label>
							</td>
							<td>
								<select data-ng-model="vm.list.data.interface" ng-required="vm.requiredField">
									<option value="SOAP">SOAP</option>
									<option value="REST" hidden="true">REST</option>
								</select>
							</td>
						</tr>
						<tr>
							<td class="registerTable">
								<label>Status *</label>
							</td>
							<td>
								<select data-ng-model="vm.list.data.state" ng-required="vm.requiredField">
									<option value="Active">Active</option>
									<option value="Inactive">Inactive</option>
								</select>

							</td>
						</tr>
						<tr>
							<td class="registerTable">
								<label>Description</label>
							</td>
							<td style="width: 100%">
								<textarea required rows="5" cols="65" data-ng-model="vm.list.data.eai_description"></textarea>
							</td>
						</tr>
						<tr>
							<td class="registerTable">
								<label>URL's</label>
							</td>
							<td style="width:100%">
								<textarea rows="5" cols="65" data-ng-model="vm.list.data.url" >
								</textarea>
							</td>
						</tr>
						<tr>
								* Indicates Required Fields
						</tr>
					</table>
					<p  style="color: red"> * Indicates Required Fields</p>
					<input type="submit" class="button" value="Register Service">
				</form>
		</section>
		
	</section>
</div>