<!-- include service tab tool bit -->
<div ng-include="'/app/service/_tabToolbit.html'"></div>

<div class="content services" ng-controller="Service as vm" ng-init="">
	<h1>{{vm.getclientDisplayName()}}</h1>
	<section class="client_list" ng-repeat="data in vm.getClientListArr()">
		<br>
		<div ng-init="showServices=false">
			<label>
      			<a href="" ng-show="!showServices" ng-click="showServices=!showServices">+</a>
     			 <a href="" ng-show="showServices" ng-click="showServices=!showServices">-</a>
    			 <a href="" ng-click="showServices=!showServices">{{data.operation}}</a>
    		</label>

			<ul style="border: 0px solid" ng-show="showServices">
				<li>
					<ul>
						<table style="width:100%">
							<tr style="width:100%; border: 1px solid" ng-repeat="info in data.service">
								<td style="width:50%; text-align:left;" >
									{{info.client_display_name}}
								</td>
								
								<td style="width:50%; text-align:center">
									<a href="#/sla/view/{{info.workflow_id}}">View Engagement/SLA</a>
								</td>
							</tr>
						</table>
					</ul>
				</li>
			</ul>
		</div>
	</section>
	<br class="clear" />
</div>