

<div class="content sla" ng-controller="Sla as vm" ng-init="vm.init()">

	<div class="sla_revision_toolbit" style="text-align:right">
		<section>
			Choose Revision: 
			<select ng-repeat="data in vm.getRevisions()">
				<option>{{data.version}} ({{data.state}})</option>
			</select>
		</section>
		<br class="clear" />
	</div>

	<h4 class="text_purple">AddressServie getGEO</h4>
	<div class="note status_pending">
		*** This SLA is Pending Approval and is not currenlty active ***
	</div>
	<div class="note status_active">
		This SLA is currently active. It must be unlocked before changes can be made. <a href="#/sla/edit/slaid1234">Unlock</a>
	</div>
	<section ng-init="showServices=true">
		<label>
  			<a href="" ng-show="!showServices" ng-click="showServices=!showServices">+</a>
 			 <a href="" ng-show="showServices" ng-click="showServices=!showServices">-</a>
			 <a href="" ng-click="showServices=!showServices">Request Detials</a>
		</label>
		<ul ng-show="showServices">
			<li>
				<label>Requestor</label>
				<span class="value">{{vm.getSlaData().requestor}}</span>
			</li>
			<li>
				<label>Application Contacts: IT Owner</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Inital Test Date/ Access Needed Date</label>
				<span class="value">{{vm.getSlaData().test_date}}</span>
			</li>
			<li>
				<label>Client System</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Application Contacts: Tech Lead</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Inital Move to Production Date</label>
				<span class="value">{{vm.getSlaData().mtp_date}}</span>
			</li>
			<li>
				<label>Client EAI</label>
				<span class="value">{{vm.getSlaData().client_eai}}</span>
			</li>
			<li>
				<label>Data Center</label>
				<span class="value">{{vm.getSlaData().datacenter}}</span>
			</li>
			<li>
				<label>OpCo</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Client BCDR Tier</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Region</label>
				<span class="value">{{vm.getSlaData().region}}</span>
			</li>
			<li>
				<label>Comments</label>
				<span class="value">{{vm.getSlaData().comment}}</span>
			</li>
		</ul>
		<br class="clear" />
		
		<a style="align:center" href="#/sla/edit/1234" class="button" ng-hide="vm.showButton" ng-click="vm.showButton = !vm.showButton">Create SLA</a>
	</section>
	<section ng-hide="!vm.showButton">
		<h6><strong>Outage Information</strong></h6>
		<ul>
			<li>
				<label>Preferred Outage Window (If Needed)</label>
				<span class="value"></span>

			</li>
			<li>
				<label>Preferred Outage Start</label>
				<span class="value"> Hour(s)</span>
			</li>
			<li>
				<label>Preferred Outage Duration</label>
				<span class="value"> Hour(s)</span>
			</li>
			<li>
				<label>Unplanned Outage Duration</label>
				<span class="value">Hour(s)</span>
			</li>
			<li>
				<label>Disaster Recovery Outage Duration</label>
				<span class="value">Hour(s)</span>
			</li>
			<li>
				<label>Quantified Impact</label>
				<span class="value"></span>
			</li>
		</ul>
		<br class="clear" />
	</section>
	<section ng-hide="!vm.showButton">
		<h6><strong>SLA Details</strong></h6>
		<section>
			<h6>Volume</h6>
			<ul>
				<li>
					<label>Average Daily Total</label>
					<span class="value">5000</span>
				</li>
				<li>
					<label>Peak Hourly Total</label>
					<span class="value">1000</span>
				</li>
				<li>
					<label>Peak Hour of Day</label>
					<span class="value">12</span>
				</li>
				<li>
					<label>Max Connections</label>
					<span class="value">10</span>
				</li>
				<li>
					<label>Days Applied</label>
					<select>
						<option selected>All</option>
						<option></option>
						<option></option>
					</select>
				</li>
			</ul>
		</section>
		<section>
			<h6>Bursts</h6>
			<ul>
				<li>
					<label>Burst TPS</label>
					<span class="value">500</span>
				</li>
				<li>
					<label>Burst Duration (min)</label>
					<span class="value">60</span>
				</li>
				<li>
					<label>Frequency</label>
					<span class="value">1</span>
				</li>
			</ul>
		</section>
		<section>
			<h6>Message Size</h6>
			<ul>
				<li>
					<label>Msgs Per Request</label>
					<span class="value">2</span>
				</li>
				<li>
					<label>Avg # of Msgs</label>
					<span class="value">2</span>
				</li>
				<li>
					<label>Max # of Msgs</label>
					<span class="value">2</span>
				</li>
			</ul>
		</section>
		<section>
			<h6>Processing Time</h6>
			<ul>
				<li>
					<label>Avg Response Time(ms)</label>
					<span class="value">10</span>
				</li>
				<li>
					<label>Max Acceptable Response Time</label>
					<span class="value">20</span>
				</li>
				<li>
					<label>TPS</label>
					<span class="value">100</span>
				</li>
			</ul>
		</section>
		<section class="availability">
			<h6>Apply the values above to the following months:</h6>
			<input type="checkbox">All  
			<input type="checkbox">Jan 
			<input type="checkbox">Fed 
			<input type="checkbox">Mar 
			<input type="checkbox">Apr 
			<input type="checkbox">May 
			<input type="checkbox">Jun 
			<input type="checkbox">Jul 
			<input type="checkbox">Aug 
			<input type="checkbox">Sep 
			<input type="checkbox">Oct 
			<input type="checkbox">Nov  
			<input type="checkbox">Dec 
		</section>
		<br class="clear" />
		<br class="clear" />
		<a href="" class="button center btn_update_sla">Update SLA</a>
	</section>
	<br class="clear" />
	<br class="clear" />
	<!-- include sla table -->
	<div ng-include="'/app/sla/_slaTable.html'" ng-hide="!vm.showButton"></div>
	<br class="clear" />
	<div class="action_buttons"> 
		<a href="#/service/overview" class="button" ng-hide="!vm.showButton">Back to My Services</a>
		<a href="" class="button" ng-hide="!vm.showButton">View in Workflow</a>
	</div>
</div>