

<div class="content sla" ng-controller="Sla as vm" ng-init="vm.init()">

	<div class="sla_revision_toolbit" style="text-align:right">
		<section>
			Choose Revision: 
			<select ng-repeat="data in vm.getRevisions()">
				<option>{{data.version}} ({{data.state}})</option>
			</select>
		</section>
		<br class="clear" />
	</div>

	<h4 class="text_purple">AddressServie getGEO</h4>
	<div class="note status_pending">
		*** This SLA is Pending Approval and is not currenlty active ***
	</div>
	<div class="note status_active">
		This SLA is currently active. It must be unlocked before changes can be made. <a href="#/sla/edit/slaid1234">Unlock</a>
	</div>
	<section ng-init="showServices=true">
		<label>
  			<a href="" ng-show="!showServices" ng-click="showServices=!showServices">+</a>
 			 <a href="" ng-show="showServices" ng-click="showServices=!showServices">-</a>
			 <a href="" ng-click="showServices=!showServices">Request Detials</a>
		</label>
		<ul ng-show="showServices">
			<li>
				<label>Requestor</label>
				<span class="value">{{vm.getSlaData().requestor}}</span>
			</li>
			<li>
				<label>Application Contacts: IT Owner</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Inital Test Date/ Access Needed Date</label>
				<span class="value">{{vm.getSlaData().test_date}}</span>
			</li>
			<li>
				<label>Client System</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Application Contacts: Tech Lead</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Inital Move to Production Date</label>
				<span class="value">{{vm.getSlaData().mtp_date}}</span>
			</li>
			<li>
				<label>Client EAI</label>
				<span class="value">{{vm.getSlaData().client_eai}}</span>
			</li>
			<li>
				<label>Data Center</label>
				<span class="value">{{vm.getSlaData().datacenter}}</span>
			</li>
			<li>
				<label>OpCo</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Client BCDR Tier</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Region</label>
				<span class="value">{{vm.getSlaData().region}}</span>
			</li>
			<li>
				<label>Comments</label>
				<span class="value">{{vm.getSlaData().comment}}</span>
			</li>
		</ul>
		<br class="clear" />
		
		<a style="align:center" href="#/sla/edit/1234" class="button" ng-hide="vm.showButton" ng-click="vm.showButton = !vm.showButton">Create SLA</a>
	</section>
	<section ng-hide="!vm.showButton" ng-init="showServices1=true">
		<label>
  			<a href="" ng-show="!showServices1" ng-click="showServices1=!showServices">+</a>
 			 <a href="" ng-show="showServices1" ng-click="showServices1=!showServices">-</a>
			 <a href="" ng-click="showServices1=!showServices1">Outage Information</a>
		</label>
		<ul ng-show="showServices1">
			<li>
				<label>Preferred Outage Window (If Needed)</label>
				<span class="value"></span>

			</li>
			<li>
				<label>Preferred Outage Start</label>
				<span class="value"> Hour(s)</span>
			</li>
			<li>
				<label>Preferred Outage Duration</label>
				<span class="value"> Hour(s)</span>
			</li>
			<li>
				<label>Unplanned Outage Duration</label>
				<span class="value">Hour(s)</span>
			</li>
			<li>
				<label>Disaster Recovery Outage Duration</label>
				<span class="value">Hour(s)</span>
			</li>
			<li>
				<label>Quantified Impact</label>
				<span class="value"></span>
			</li>
		</ul>
		<br class="clear" />
	</section>
	<!-- include sla table -->
	<div ng-include="'/app/sla/_slaTable.html'" ng-hide="!vm.showButton"></div>
	<br class="clear" />
	<div class="action_buttons"> 
		<a href="#/service/overview" class="button" ng-hide="!vm.showButton">Back to My Services</a>
		<a href="" class="button" ng-hide="!vm.showButton">View in Workflow</a>
	</div>
</div>