
<div class="content sla" ng-controller="Sla as vm" ng-init="vm.init()">

	<div class="sla_revision_toolbit" style="text-align:right">
		<section>
			Choose Revision: 
			<select ng-change="vm.init2()" ng-model="vm.initData">
				<option ng-repeat="data in vm.getRevisions() track by $index" ng-selected="data.state === 'active'" value="{{data.id}}">{{data.version}} ({{data.state}})</option>
			</select>
		</section>
		<br class="clear" />
	</div>

	<h4 class="text_purple">{{vm.getSlaData().service_name}} - {{vm.getSlaData().operation}}</h4>
	<div class="WARNING" ng-show="vm.getSlaData().state === 'pending'" style="text-align:center">
		*** This SLA is Pending Approval and is not currenlty active ***
	</div>
	<div class="rejected" ng-show="vm.getSlaData().state === 'rejected'" style="text-align:center">
		*** This SLA has been rejected. Please edit the SLA and re-submit for approval ***<br/>
		Click <a href="#/sla/edit/{{vm.getSlaData().workflow_id}}">here</a> to make changes 

	</div>
	<div class="ACTIVESLA" ng-show="vm.getSlaData().state === 'active'" style="text-align:center">
		This SLA is currently active. It must be unlocked before changes can be made. <a href="#/sla/edit/{{vm.getSlaData().workflow_id}}" style="color:black">Unlock</a>
	</div>
	<section ng-init="showServices=true">
		<label>
  			<a href="" ng-show="!showServices" ng-click="showServices=!showServices">+</a>
 			 <a href="" ng-show="showServices" ng-click="showServices=!showServices">-</a>
			 <a href="" ng-click="showServices=!showServices">Request Detials</a>
		</label>
		<ul ng-show="showServices">
			<li>
				<label>Requestor</label>
				<span class="value">{{vm.getSlaData().requestor}}</span>
			</li>
			<li>
				<label>Application Contacts: IT Owner</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Inital Test Date/ Access Needed Date</label>
				<span class="value">{{vm.dateChange("test_date")}}</span>
			</li>
			<li>
				<label>Client System</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Application Contacts: Tech Lead</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Inital Move to Production Date</label>
				<span class="value">{{vm.dateChange("mtp_date")}}</span>
			</li>
			<li>
				<label>Client EAI</label>
				<span class="value">{{vm.getSlaData().client_eai}}</span>
			</li>
			<li>
				<label>Data Center</label>
				<span class="value">{{vm.getSlaData().datacenter}}</span>
			</li>
			<li>
				<label>OpCo</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Client BCDR Tier</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Region</label>
				<span class="value">{{vm.getSlaData().region}}</span>
			</li>
		</ul>
		<div style="background-color:#dfdfdf">
			
			<label>Comments</label><br/>
			<textarea style="width:100%" rows="5" cols="75" readonly>{{vm.getSlaData().comment}}</textarea>
		</div>

		<br class="clear" />
		
		<a style="align:center" href="#/sla/edit/1234" class="button" ng-hide="vm.showButton" ng-click="vm.showButton = !vm.showButton">Create SLA</a>
	</section>
	<section ng-hide="!vm.showButton" ng-init="showServices1=true">
		<label>
  			<a href="" ng-show="!showServices1" ng-click="showServices1=!showServices">+</a>
 			 <a href="" ng-show="showServices1" ng-click="showServices1=!showServices">-</a>
			 <a href="" ng-click="showServices1=!showServices1">Outage Information</a>
		</label>
		<ul ng-show="showServices1">
			<li>
				<label>Preferred Outage Window (If Needed)</label>
				<span class="value">{{vm.getSlaData().outage.window}}</span>

			</li>
			<li>
				<label>Preferred Outage Start</label>
				<span class="value">{{vm.getSlaData().outage.timeStart}}</span>
			</li>
			<li>
				<label>Preferred Outage Duration</label>
				<span class="value">{{vm.getSlaData().outage.plannedDuration}} Hour(s)</span>
			</li>
			<li>
				<label>Unplanned Outage Duration</label>
				<span class="value">{{vm.getSlaData().outage.unplannedDuration}} Hour(s)</span>
			</li>
			<li>
				<label>Disaster Recovery Outage Duration</label>
				<span class="value"> {{vm.getSlaData().outage.drDuration}} Hour(s)</span>
			</li>
			<li>
				<label>Quantified Impact</label>
				<span class="value">{{vm.getSlaData().outage.impact}}</span>
			</li>
		</ul>
		<br class="clear" />
	</section>
	<!-- include sla table -->
	<div ng-include="'/app/sla/_slaTable.html'" ng-hide="!vm.showButton"></div>
	<br class="clear" />
	<div class="action_buttons"> 
		<a href="#/service/overview" class="button" ng-hide="!vm.showButton">Back to My Services</a>
		<a href="" class="button" ng-hide="!vm.showButton">View in Workflow</a>
	</div>
</div>