
<div class="content sla" ng-controller="Sla as vm" ng-init="vm.init()">
	<div class="sla_revision_toolbit" style="text-align:right">
		<section>
			Choose Revision: 
			<select>
				<option ng-repeat="data in vm.getRevisions()">{{data.version}} ({{data.state}})</option>
			</select>
		</section>
		<br class="clear" />
	</div>
	<h4 class="text_purple">{{vm.getSlaData().service_name}} - {{vm.getSlaData().operation}}</h4>
	<div class="WARNING" style="text-align:center">
		*** This SLA is currently in edit mode ***
	</div>
	<div ng-show="vm.display_error" class="message error">Error: Please try again.  
		<br/>
		Message: {{vm.errorInfo.message}} <br/>
		success: {{vm.errorInfo.success}} <br/>
		clientTxnId: {{vm.errorInfo.clientTxnId}} <br/>
	</div>
	<section ng-init="showServices=true">
		<label>
  			<a href="" ng-show="!showServices" ng-click="showServices=!showServices">+</a>
 			 <a href="" ng-show="showServices" ng-click="showServices=!showServices">-</a>
			 <a href="" ng-click="showServices=!showServices">Request Detials</a>
		</label>
		<ul ng-show="showServices">
			<li>
				<label>Requestor</label>
				<span class="value">{{vm.getSlaData().requestor}}</span>
			</li>
			<li>
				<label>Application Contacts: IT Owner</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Inital Test Date/ Access Needed Date</label>
				<span class="value">{{vm.dateChange("test_date")}}</span>
			</li>
			<li>
				<label>Client System</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Application Contacts: Tech Lead</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Inital Move to Production Date</label>
				<span class="value">{{vm.dateChange("mtp_date")}}</span>
			</li>
			<li>
				<label>Client EAI</label>
				<span class="value">{{vm.getSlaData().client_eai}}</span>
			</li>
			<li>
				<label>Data Center</label>
				<span class="value">{{vm.getSlaData().datacenter}}</span>
			</li>
			<li>
				<label>OpCo</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Client BCDR Tier</label>
				<span class="value">Need Data from APIG</span>
			</li>
			<li>
				<label>Region</label>
				<span class="value">{{vm.getSlaData().region}}</span>
			</li>
		</ul>
		<div style="background-color:#dfdfdf">
			
			<label>Comments</label><br/>
			<textarea style="width:100%" rows="5" cols="75" ng-model="vm.getSlaData().comment">{{vm.getSlaData().comment}}</textarea>
		</div>
		<br class="clear" />
	</section>
	<br class="clear" />
	<section ng-init="showServices1=true">
		<label>
  			<a href="" ng-show="!showServices1" ng-click="showServices1=!showServices1">+</a>
 			 <a href="" ng-show="showServices1" ng-click="showServices1=!showServices1">-</a>
			 <a href="" ng-click="showServices1=!showServices1">Outage Information</a>
		</label>
		<ul ng-show="showServices1">
			<li>
				<label>Preferred Outage Window (If Needed)</label>
				<select ng-model="vm.outage.window">
					<option>Monday</option>
					<option>Tuesday</option>
					<option>Wednesday</option>
					<option>Thursday</option>
					<option>Friday</option>
					<option>Saturday</option>
					<option>Sunday</option>
				</select>

			</li>
			<li>
				<label>Preferred Outage Start</label>
				<select ng-model="vm.outage.timeStart">
					<option ng-repeat="i in vm.timeStart">{{i}}</option>
				</select>
			</li>
			<li>
				<label>Preferred Outage Duration</label>
				<span class="value"><input type="number" min="0" ng-model="vm.outage.plannedDuration"></input> Hour(s)</span>
			</li>
			<li>
				<label>Unplanned Outage Duration</label>
				<span class="value"><input type="number" min="0" ng-model="vm.outage.unplannedDuration"></input> Hour(s)</span>
			</li>
			<li>
				<label>Disaster Recovery Outage Duration</label>
				<span class="value"><input type="number" min="0" ng-model="vm.outage.drDuration"></input> Hour(s)</span>
			</li>
			<li>
				<label>Quantified Impact</label>
				<span class="value"><input type="text" min="0" ng-model="vm.outage.impact"> </input></span>
			</li>
		</ul>
		<br class="clear" />
	</section>
	<section>
		<h6><strong>SLA Details</strong></h6>
		<section>
			<h6>Volume</h6>
			<ul>
				<li>
					<label>Average Daily Total</label>
					<input type="number" value="5000" min="0" ng-bind-html="vm.tempData.averageDailyTotal" ng-model="vm.slaDetails.averageDailyTotal"/>
				</li>
				<li>
					<label>Peak Hourly Total</label>
					<input type="number" value="1000" min="0" ng-model="vm.slaDetails.peakHourlyTotal"/>
				</li>
				<li>
					<label>Peak Hour of Day</label>
					<select ng-model="vm.slaDetails.peakHourOfDay">
						<option ng-repeat="i in vm.timeStart">{{i}}</option>
					</select>
				</li>
				<li>
					<label>Max Connections</label>
					<input type="number" value="10" min="0" ng-model="vm.slaDetails.maxConnections"/>
				</li>
				<li>
					<label>Days Applied</label>
					<select ng-model="vm.slaDetails.daysApplied" multiple size="3">
						<option value="M" >Monday</option>
						<option value="TU" >Tuesday</option>
						<option value="W" >Wednesday</option>
						<option value="TH" >Thursday</option>
						<option value="F" >Friday</option>
						<option value="SA" >Saturday</option>
						<option value="SU" >Sunday</option>
					</select>
				</li>
			</ul>
		</section>
		<section>
			<h6>Bursts</h6>
			<ul>
				<li>
					<label>Burst TPS</label>
					<input type="number" value="500" min="0" ng-model="vm.slaDetails.burstTPS"/>
				</li>
				<li>
					<label>Burst Duration (min)</label>
					<input type="number" value="60" min="0" ng-model="vm.slaDetails.burstDuration"/>
				</li>
				<li>
					<label>Frequency</label>
					<input type="number" value="1" min="0" ng-model="vm.slaDetails.frequency"/>
				</li>
			</ul>
		</section>
		<section>
			<h6>Message Size</h6>
			<ul>
				<li>
					<label>Msgs Per Request</label>
					<input type="number" value="2" min="0" ng-model="vm.slaDetails.messagesPerRequest"/>
				</li>
				<li>
					<label>Avg # of Msgs</label>
					<input type="number" value="2" min="0" ng-model="vm.slaDetails.averageNumberOfMessages"/>
				</li>
				<li>
					<label>Max # of Msgs</label>
					<input type="number" value="2" min="0" ng-model="vm.slaDetails.maxNumberOfMessages"/>
				</li>
			</ul>
		</section>
		<section>
			<h6>Processing Time</h6>
			<ul>
				<li>
					<label>Avg Response Time(ms)</label>
					<input type="number" value="10" min="0" ng-model="vm.slaDetails.averageResponseTime"/>
				</li>
				<li>
					<label>Max Acceptable Response Time</label>
					<input type="number" value="20" min="0" ng-model="vm.slaDetails.maxResponseTime"/>
				</li>
				<li>
					<label>TPS</label>
					<input type="number" value="100" min="0" ng-model="vm.slaDetails.tps"/>
				</li>
			</ul>
		</section>
		<section class="availability">
			<h6>Apply the values above to the following months:</h6>

			<label ng-repeat="month in vm.months" id="checkMonths">
				<input type="checkbox" ng-model="vm.slaDetailsMonths[month]" value="month"> {{month}}
			</label>
			<a href="" class="button" ng-click="vm.UncheckAll('checkMonths', true)">Check All</a>
			<a href="" class="button" ng-click="vm.UncheckAll('checkMonths', false)">Uncheck All</a>
		</section>
		<br class="clear" />
		<br class="clear" />
		<a href="" class="button center btn_update_sla" ng-click="vm.updateSLA()">Update SLA</a>
	</section>
	<br class="clear" />
	<br class="clear" />
	<!-- include sla table -->
	<div ng-include="'/app/sla/_slaTable.html'"></div>
	<br class="clear" />
	<br class="clear" />
	<div class="action_buttons_long"> 
		<a href="" class="button" ng-click="vm.submitForReview()">Submit changes for review</a> &nbsp;&nbsp;
		<a href="" class="button">Cancel Changes</a>
	</div>
</div>